In [1]:
print(1+2)

3

In [2]:
print(45 + 18)
print(30 - 12)
print(15 * 6)
print(30 / 3)
print(45 % 8)

63
18
90
10.0
5

In [3]:
print(45 + 1.8)
print(3 - 1.2)
print(15 * 0.6)
print(3 / 0.3)
print(45 % 0.8)

46.8
1.8
9.0
10.0
0.1999999999999975

In [4]:
print("今日の天気は" + "晴れ")
print("今日の天気は" "曇り")

今日の天気は晴れ
今日の天気は曇り

In [5]:
print("降水確率" + str(50) + "％")

降水確率50％

In [6]:
print("晴れ" * 5)
print("晴れ" + "晴れ" + "晴れ" + "晴れ" + "晴れ")

晴れ晴れ晴れ晴れ晴れ
晴れ晴れ晴れ晴れ晴れ

In [7]:
user_name = "侍太郎"
print(user_name)

侍太郎

In [8]:
user_name = "侍太郎"
print(user_name)

user_name = "侍花子"
print(user_name)

侍太郎
侍花子

In [9]:
# 整数型と浮動小数点型の足し算
number1 = 5
number2 = 2.5
print(number1 + number2)

# 文字列型と文字列型の連結
last_name  = "侍"
first_name = "太郎"
print(last_name + first_name)

7.5
侍太郎

In [10]:
last_name   = "侍"
first_name  = "太郎"
sister_name = "花子"

# 3つの変数を文字列内に埋め込んで表示
print(f"私の名前は{last_name}{first_name}です。妹の名前は{sister_name}です。")

私の名前は侍太郎です。妹の名前は花子です。

In [11]:
top_side = 10
bottom_side = 20
height = 5

area = (top_side + bottom_side) * height / 2

print(f"{area}㎠")

75.0㎠

In [12]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

print(user_names[1]) # 2番目の要素だけを表示

user_names[1] = "侍花子" # 2番目の要素を更新
print(user_names)

user_names.append("侍五郎") # 6番目の要素を追加
print(user_names)

user_names.pop(2) # 3番目の要素を削除（0始まりのため2を指定）
print(user_names)

侍一郎
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎']
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎', '侍五郎']
['侍太郎', '侍花子', '侍三郎', '侍四郎', '侍五郎']

In [13]:
country_names = ("日本", "アメリカ", "イギリス", "フランス" )

# 3番目の要素を取り出す
print(country_names[2])

# すべての要素を取り出す
print(country_names)

イギリス
('日本', 'アメリカ', 'イギリス', 'フランス')

In [14]:
country_names = {"アメリカ", "イギリス", "日本", "フランス"}

# セット全体を表示
print(country_names)

country_names.add("ドイツ") # 「ドイツ」をセットに追加
print(country_names)

country_names.remove("イギリス") # セットから「イギリス」を削除
print(country_names)

{'アメリカ', 'イギリス', '日本', 'フランス'}
{'ドイツ', 'フランス', 'アメリカ', '日本', 'イギリス'}
{'ドイツ', 'フランス', 'アメリカ', '日本'}

In [15]:
# 連想配列を作成
personal_data = {"name": "侍太郎", "age": 36, "gender": "男性"}

# キー「name」の値を表示
print(personal_data["name"])

# 連想配列全体を表示
print(personal_data)

# キー「age」の値を更新
personal_data["age"] = 37

# 新しく要素（キーと値）を追加
personal_data["address"] = "東京都"

# 連想配列全体を表示
print(personal_data)

侍太郎
{'name': '侍太郎', 'age': 36, 'gender': '男性'}
{'name': '侍太郎', 'age': 37, 'gender': '男性', 'address': '東京都'}

In [16]:
array = ["月曜日は晴れです", "火曜日は雨です", "水曜日は晴れです", "木曜日は晴れです", "金曜日は曇りです", "土曜日は曇りのち雨です", "日曜日は雷雨です"]
print(array[2])

dictionary = {"mon": "晴れ", "tue": "雨", "wed":"晴れ", "thu": "晴れ","fri": "曇り","sat": "曇りのち雨","sun": "雷雨"}
print(dictionary["wed"])

水曜日は晴れです
晴れ

In [17]:
print(45 + 18) # 算術演算子を使った場合の戻り値を出力する
print(45 > 18) # 比較演算子を使った場合の戻り値を出力する

63
True

In [18]:
print("5" == 5)

False

In [19]:
#ランダムな整数を利用するために、randomモジュールをインポート
import random

# 変数numに0～4までのランダムな整数を代入する
num = random.randint(0, 4)

# 変数numの値を出力
print(num)

# 変数numの値が4であれば、「大当たりです」という文字列を出力する
if num == 4:
    print("大当たりです")

3

In [20]:
#ランダムな整数を利用するために、randomモジュールをインポート
import random

# 変数numに0～4までのランダムな整数を代入する
num = random.randint(0, 4)

# 変数numの値を出力
print(num)

# 変数numの値が4なら「大当たりです」、それ以外なら「はずれです」と出力する
if num == 4:
    print("大当たりです")
else:
    print("はずれです")

0
はずれです

In [21]:
#ランダムな整数を利用するために、randomモジュールをインポート
import random

# 変数numに0～4までのランダムな整数を代入する
num = random.randint(0, 4)

# 変数numの値を出力
print(num)

# 変数numの値が4なら「大当たりです」、3なら「当たりです」、それ以外なら「はずれです」と出力する
if num == 4:
    print("大当たりです")
elif num == 3:
    print("当たりです")
else:
    print("はずれです")

3
当たりです

In [22]:
#ランダムな整数を利用するために、randomモジュールをインポート
import random

# 変数numに0～4までのランダムな整数を代入する
num = random.randint(0, 4)

# 変数numの値を出力
print(num)

# すべての条件が成り立つ場合にのみ処理を行う（変数numの値が2）
if 1 < num and num < 3:
    print("変数numは1より大きく、3より小さいです")
else:
    print("and条件が成り立ちませんでした")

# 1つでも条件が成り立てば処理を行う（変数numの値が1または3）
if num == 1 or num == 3:
    print("変数numは1または3です")
else:
    print("or条件が成り立ちませんでした")

1
and条件が成り立ちませんでした
変数numは1または3です

In [23]:
import random

# 変数varに0〜99までのランダムな整数を代入する
var = random.randint(0,99)

# 変数varの値を出力
print(var)

# 変数varが、3の倍数の場合は「Fizz」を出力、変数varが、5の倍数の場合は「Buzz」を出力、変数varが、3の倍数と5の倍数の両方に該当する場合は「FizzBuzz」を出力
if var % 3 == 0 and var % 5 == 0:
  print("FizzBuzz")
elif var % 3 == 0:
  print("Fizz")
elif var % 5 == 0:
  print("Buzz")
else:
  print(var)

39
Fizz

In [24]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [27]:
#ランダムな整数を利用するため、記述が必要です。
import random

for i in range(1, 11):
    #変数numに1~20までのランダムな整数を代入する
    num = random.randint(1,20)

    print(f"{i}回目の結果は{num}です。")

    #変数numの値が20であれば、break文で繰り返し処理を強制終了する
    if num == 20:
        print("20が出たので繰り返し処理を強制終了します。")
        break

1回目の結果は12です。
2回目の結果は3です。
3回目の結果は8です。
4回目の結果は3です。
5回目の結果は7です。
6回目の結果は10です。
7回目の結果は20です。
20が出たので繰り返し処理を強制終了します。

In [28]:
for i in range(1, 11):
    # ループ変数iの値が奇数（2で割った余りが1）であれば、値を出力せずにcontinue文で次のループに進む
    if i % 2 == 1:
        continue

    print(i)

2
4
6
8
10

In [1]:
#ランダムな整数を利用するため、記述が必要です。
import random

# 変数numに0~4までのランダムな整数を代入する
num = random.randint(0, 4)

# 変数numの最初の値を出力する（確認用）
print(f"最初の値は{num}です。")

# 変数numの値が0以外である間、変数numの値を出力し続ける
while num != 0:
    # 変数numに0~4までのランダムな整数を代入する
    num = random.randint(0, 4)

    # 次の条件式で比較される、変数numの現在の値を出力する
    print(f"現在の値は{num}です。")

最初の値は3です。
現在の値は2です。
現在の値は2です。
現在の値は3です。
現在の値は0です。

In [8]:
#ランダムな整数を利用するため、記述が必要です。
import random

# 変数numに0~4までのランダムな整数を代入する
num = random.randint(0, 4)

# カウンタ変数を用意する
i = 1

# 変数numの最初の値を出力する（確認用）
print(f"最初の値は{num}です。")

# 変数numの値が0以外である間、変数numの値を出力し続ける
while num != 0:
    # 変数numに0~4までのランダムな整数を代入する
    num = random.randint(0, 4)

    # カウンタ変数iの値が5であれば、break文で繰り返し処理を強制終了する
    if i == 5:
        print("5回目なので繰り返し処理を強制終了します。")
        break

    # 次の条件式で比較される、変数numの現在の値を出力する
    print(f"現在の値は{num}です。")
    #　カウンタ変数のの値を1増やす
    i = i + 1

最初の値は1です。
現在の値は1です。
現在の値は4です。
現在の値は4です。
現在の値は1です。
5回目なので繰り返し処理を強制終了します。

In [9]:
#ランダムな整数を利用するため、記述が必要です。
import random

# 合計用の変数を用意する
sum = 0

# 変数sumの値が20以上になるまで繰り返し処理を行う
while sum < 20:
    # 変数numに1~10までのランダムな整数を代入する
    num = random.randint(1, 10)

    print(f"{num}が出ました。")

    # 変数numの値が偶数（2で割った余りが0）であれば、加算せずにcontinue文で次のループに進む
    if num % 2 == 0:
        print("偶数なので加算しません。")
        continue

    # 変数sumに変数numの値を加算する
    sum = sum + num
    print(f"現在の合計は{sum}です。")

10が出ました。
偶数なので加算しません。
9が出ました。
現在の合計は9です。
6が出ました。
偶数なので加算しません。
5が出ました。
現在の合計は14です。
4が出ました。
偶数なので加算しません。
3が出ました。
現在の合計は17です。
9が出ました。
現在の合計は26です。

In [1]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

# 配列user_namesの要素を1つずつ順番に出力する
for user_name in user_names:
    print(user_name)

侍太郎
侍一郎
侍二郎
侍三郎
侍四郎

In [2]:
personal_data = {"name": "侍太郎", "age": 36, "gender": "男性"}

# 連想配列personal_dataのキーと値を1つずつ順番に出力する
for key, value in personal_data.items():
    print(f"{key}は{value}です。")

# 連想配列personal_dataの値を1つずつ順番に出力する
for value in personal_data.values():
    print(value)

nameは侍太郎です。
ageは36です。
genderは男性です。
侍太郎
36
男性

In [3]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

# 配列user_namesのインデックスと値を1つずつ順番に出力する
for index, value in enumerate(user_names):
    print(f"{index} : {value}")

0 : 侍太郎
1 : 侍一郎
2 : 侍二郎
3 : 侍三郎
4 : 侍四郎

In [4]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

# 検索したいユーザー名を代入する変数
target = "侍二郎"

for user_name in user_names:
    print(user_name)

    # 変数user_nameと変数targetの値が一致すれば、break文で繰り返し処理を強制終了する
    if (user_name == target):
        print(f"{target}さんが見つかったので、繰り返し処理を強制終了します。")
        break

侍太郎
侍一郎
侍二郎
侍二郎さんが見つかったので、繰り返し処理を強制終了します。

In [5]:
score = {
    "国語": 80,
    "数学": 55,
    "理科": 70,
    "社会": 85,
    "英語": 60
}

print("合格した科目は以下のとおりです。")

for key, value in score.items():
    # 変数valueの値（点数）が70より小さければ、キー（科目名）と値（点数）を出力せずにcontinue文で次のループに進む
    if (value < 70):
        continue
    print(f"{key} : {value}点")

合格した科目は以下のとおりです。
国語 : 80点
理科 : 70点
社会 : 85点

In [6]:
array = ["水","金","地","火","木","土","天","海","冥"]
for a in array:
    print(a)

array = ["水","金","地","火","木","土","天","海","冥"]
i = 0
while i < len(array):
    print(array[i])
    i += 1

水
金
地
火
木
土
天
海
冥
水
金
地
火
木
土
天
海
冥